		<!-- Banner -->
		<section class="banner parallax image-bg" id="home">
			<div class="container">
				<div class="row">

					<div class="col-md-8">
						<div class="header-content">

							<h2>Build and run your own <br />online Music School</h2>
							<p>
								With Maawol you can create a library of music lessons using video, audio and text; categorise and group lessons into courses; connect online with your students and turn them into paying subscribers.
							</p>

							<div class="download-button">
								<a href="#why-maawol" class="btn-download btn-fill">
									<i class="fas fa-info-circle"></i>
									<span>Why Maawol?</span>Find out more
								</a>
								<a href="#contact" class="btn-download btn-fill">
									<i class="fas fa-school"></i>
									<span>Start hosting lessons</span>It's free
								</a>
								<a href="#pricing" class="btn-download btn-fill">
									<i class="far fa-money-bill-alt"></i>
									<span>Subscribe &amp; earn</span>From just £25 per month
								</a>
							</div>

						</div>
					</div>

					<div class="col-md-4">

						<!-- Header slider -->
						<div class="owl-carousel owl-theme header-slider" id="header-slider-carousel">
							<div class="item">
								<div class="slider-image">
									<%= image_tag "screenshots/header/1.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "screenshots/header/2.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "screenshots/header/3.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "screenshots/header/4.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "screenshots/header/5.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "screenshots/header/6.png", alt: "" %>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>

		<!-- Why Maawol -->
		<section id="why-maawol">
			<div class="container">

				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-xs-12">
						<div class="section-title">
							<h2>Why <strong>Maawol</strong></h2>

							<p><b>Maawol</b> (<i>Màawølː</i>): Music As A Way Of Life.</p>

							<p class="text-center">Take control of your content and enjoy the freedom to build your online music school the way that works best for you. Choose the teaching format that suits your style, whether that's video, text, audio or a mixture of all three.</p>

							<p class="text-center">Once your lessons are uploaded, decide how you package them up; create courses, offer standalone sessions or devise one-off workshops for individual students. You can then pick which content you charge for and which you offer for free.</p>

							<p class="text-center">Most importantly, it's easy to connect with and feedback to your students. All running on a customized web domain of your choice.</p>

							<p class="text-center">Whether you're an individual teacher or a school, these challenging times have likely hit you hard, losing revenue from face-to-face lessons and struggling to find the right solution for taking your lessons online. Maawol was created to overcome this, both now, and in the future.</p>
						</div>
					</div>
				</div>

				<div class="row" style="margin-top: -20px;">
					<div class="col-xs-12 col-md-4">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
							<div class="icon"><i class="fas fa-paint-brush alt"></i></div>
							<h3>Easy to use</h3>
							<p>We want Maawol to be accessible no matter your level of tech expertise and to give you more control over your lessons and earnings than other sites. That's why we've tried to keep our <a href="#pricing">pricing</a> simple.</p>
						</div>
					</div>

					<div class="col-xs-12 col-md-4">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
							<div class="icon"><i class="fas fa-drum"></i></div>
							<h3>By musicians for musicians</h3>
							<p>Maawol has been designed by musicians to meet the unique needs that come with teaching music, in a way that more generic platforms are unable to cater for.</p>
						</div>
					</div>

					<div class="col-xs-12 col-md-4">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
							<div class="icon"><i class="fas fa-user-graduate alt"></i></div>
							<h3>Earn from your students</h3>
							<p>Host lessons for free or turn your students into subscribers with one of our <a href="#pricing">pro packages</a>. They have a flat monthly fee attached, starting from £25 per month. You keep everything you earn.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Key features -->
		<section class="bg-grey key-features" id="features">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Features</h2>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Left -->
					<div class="col-md-4">

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-globe-africa"></i>
							</div>
							<div class="box-title">A unique www domain</div>
							<div class="box-text">
								Choose the domain you want to host your lessons on and we handle the rest. Students stay within your domain so you aren't facing competition from other content producers.
							</div>
						</div>

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-book"></i>
							</div>
							<div class="box-title">Tell your story</div>
							<div class="box-text">
								Create your own information pages to highlight your credentials and experience to potential students using a custom-built CMS
							</div>
						</div>

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-chalkboard-teacher"></i>
							</div>
							<div class="box-title">Personalisation</div>
							<div class="box-text">
								Manage your logo and colour theme so your school stays within your own brand.
							</div>
						</div>

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-gamepad"></i>
							</div>
							<div class="box-title">Control</div>
							<div class="box-text">
								Videos aren't publicly accessible, giving you the control to manage your own brand and paid-for versus free lesson content.
							</div>
						</div>

					</div>

					<!-- Center -->
					<div class="col-md-4 hidden-xs text-center feature-center mb-md-0">
						<%= image_tag "features/mobile.png", alt: "", class: "d-block mx-auto" %>
					</div>

					<!-- Right -->
					<div class="col-md-4">

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-tags"></i>
							</div>
							<div class="box-title">Flexible pricing</div>
							<div class="box-text">
								Our pricing system flexes depending on your needs. It's free to host lessons or you can try one of our subscription packages and turn your students into paying subscribers.
							</div>
						</div>

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-object-group"></i>
							</div>
							<div class="box-title">Categorisation</div>
							<div class="box-text">
								Lessons can be categorised, tagged, searchable and grouped into courses making it easy for you to manage and easy for your students to access.
							</div>
						</div>

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-money-check-alt"></i>
							</div>
							<div class="box-title">Easy subscriptions</div>
							<div class="box-text">
								Encourage students to join and subscribe to your school on a monthly rolling basis. They can pay via card or Paypal.
							</div>
						</div>

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-shopping-cart"></i>
							</div>
							<div class="box-title">Pay-as-you-go content</div>
							<div class="box-text">
								Create customised e-commerce stores selling one-off courses and files to those students who do not join as student.
							</div>
						</div>

					</div>

				</div>

				<div class="row">

					<!-- Feature 1 -->
					<div class="col-12 col-md-4">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
							<div class="icon"><i class="fas fa-tv alt"></i></div>
							<h3>Monitor your progress</h3>
							<p>
								Use the admin dashboard to view how many students you have, how many of them are subscribing, how much money you are making and much more.
							</p>
						</div>
					</div>

					<!-- Feature 2 -->
					<div class="col-12 col-md-4">
						<div class="feature-single res-margin wow fadeInUp">
							<div class="icon"><i class="fas fa-handshake alt"></i></div>
							<h3>Create bespoke lessons</h3>
							<p>
								Customise lessons for those students you usually teach one-to-one.
							</p>
						</div>
					</div>


					<!-- Feature 3 -->
					<div class="col-12 col-md-4">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.6s">
							<div class="icon"><i class="fas fa-comments alt"></i></div>
							<h3>Support &amp; feedback</h3>
							<p>
								We want this to work for you and value your feedback. You can quickly and easily get in touch if you need support or want to make suggestions via <a href="mailto:hello@maawol.com">hello@maawol.com</a>
							</p>
						</div>
					</div>
				</div>

			</div>
		</section>


		<!-- Technology -->
		<section class="" id="technology">
				<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>The Technology</h2>
						</div>

					</div>
				</div>


			<div class="row">
				<div id="features-graphic-wrapper" class="col-md-8">
					<div id="features-laptop-wrapper">
						<div id="features-laptop-inner">
							<div id="features-laptop-shape">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 645 370">

									<!-- frame -->
									<rect class="back-shape frame" fill="#000000" x="59" y="0" width="527" height="357" rx="20"></rect>

									<!-- base -->
									<rect class="back-shape base" fill="#242424" x="0" y="350" width="645" height="11"></rect>

									<!-- base-tint -->
									<rect class="overlay-shape base-tint" fill="#242424" x="0" y="350" width="645" height="11"></rect>

									<!-- dent -->
									<path class="overlay-shape dent" d="M277,350 L368,350 L368,354 C368,356.209139 366.202696,358 364.001926,358 L280.998074,358 C278.789999,358 277,356.204644 277,354 L277,350 Z" fill="#383838"></path>

									<!-- camera -->
									<circle class="overlay-shape camera" fill="#383838" cx="323" cy="11" r="3"></circle>

									<!-- bottom -->
									<path class="back-shape bottom" d="M0,361 C0,361 3.91836515,370 37.3210755,370 L320.849959,370 L324.150041,370 L607.694382,370 C641.097092,370 645,361 645,361 L0,361 Z" fill="#000000"></path>

								</svg>
							</div>

							<div id="features-laptop-image">
								<figure>
									<%= image_tag "how-and-why.png", alt: "" %>
								</figure>
							</div>

						</div>
					</div>
				</div>


				<div class="col-12 col-md-4" id="technology-features">
					<!-- Tech 1 -->
					<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
						<div class="icon"><i class="fas fa-lock"></i></div>
						<h3>Secure hosting</h3>
						<p>
							We set you up with a secure SSL certificate for your domain so that your site runs securely over HTTPS
						</p>
					</div>

					<!-- Tech 2 -->
					<div class="feature-single res-margin wow fadeInUp">
						<div class="icon"><i class="fas fa-mobile-alt"></i></div>
						<h3>Responsive layout</h3>
						<p>
							Maawol schools are designed to be responsive for all modern devices, they look great on mobiles, desktops and tablets.
						</p>
					</div>
				</div>

			</div>
		</section>


		<!-- Pricing -->
		<section id="pricing" class="bg-dark pricing parallax-bg" data-bg="<%= asset_url('parallax/pricing.png') %>">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title white">
							<h2>Simple <strong>Pricing</strong></h2>
							<p>
								Our pricing model is simple. We have three tiers to choose between, <br />depending on your needs...
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Price 1 -->
					<div class="col-md-4">

						<div class="price-table res-margin">
							<div class="price-title">
								<h5>Andante</h5>
								<div class="price-rate">
									<span class="currency"></span>
									<span class="rate">Free</span>
									<span class="time">&nbsp;</span>
								</div>
							</div>
							<div class="price-content">
								<div class="content">
								<p>
									If you want to try us out, or just need to host your lessons on a dedicated site without charging your students, our <b>free</b> package will give you all of this:
								</p>
								<ul class="text-left">
									<li>A unique Maawol domain name of your choice like <em>bobspiano.maawol.com</em></li>
									<li>Upload up to 50 videos and audio files</li>
									<li>Create up to 100 lessons</li>
									<li>Up to 30 students</li>
								</ul>

								</div>
							</div>
						</div>

					</div>

					<!-- Price 2 -->
					<div class="col-md-4">

						<div class="price-table res-margin">
							<div class="price-title featured">
								<h5>Allegro</h5>
								<div class="price-rate">
									<span class="currency" ><i class="fas fa-pound-sign"></i></span>
									<span class="rate">25</span>
									<span class="time">Month</span>
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<p>Ready fo start charging for your premium content? Our <b>Allegro</b> package could be for you. At our introductory price of £25 per month, it gives you the following:
									</p>
									<ul class="text-left">
										<li>A unique Maawol domain name of your choice like <em>bobspiano.maawol.com</em></li>
										<li>Upload up to 100 videos and audio files</li>
										<li>Create up to 200 lessons</li>
										<li>Unlimited student</li>
										<li>Enrol up to 50 subscribers</li>
									</ul>
								</div>
							</div>
							<div class="card-ribbon">
								<span>Popular</span>
							</div>
						</div>

					</div>

					<!-- Price 3 -->
					<div class="col-md-4">

						<div class="price-table">
							<div class="price-title">
								<h5>Presto</h5>
								<div class="price-rate">
									<span class="currency" ><i class="fas fa-pound-sign"></i></span>
									<span class="rate">50</span>
									<span class="time">Month</span>
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<p>If you're a well-established school with a number of students and a back catalogue of content, or if you've been using Maawol a while and are ready to grow, then our top tier package at the introductory price of £50 has you covered:</p>
									<ul class="text-left">
										<li>Choose a unique domain with your own SSL certificate like <em>www.bobspiano.com</em></li>
										<li>Unlimited video/audio file uploads</li>
										<li>Unlimited lessons</li>
										<li>Unlimited student</li>
										<li>Unlimited subscribers</li>
									</ul>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>


		<!-- OAQ -->
		<section class="support" id="faqs">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2><strong>FAQ</strong><span style="text-transform: lowercase">s</span></h2>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- FAQ -->
					<div class="col-sm-12 col-md-7">

						<div class="faq-support">

							<!-- FAQ accordion -->
							<div class="panel-group" id="accordion">

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse1" data-toggle="collapse" data-parent="#accordion">
												1. What if I do not have enough lesson content?
											</a>
										</h4>
									</div>

									<div id="collapse1" class="panel-collapse collapse in" data-carousel-image-index="0">
										<div class="panel-body">
											<p>
												We recommend you have at least 20 video lessons before you start charging for subscriptions.
											</p>

											<p>
												But this DOES NOT mean that you need to wait until then to setup your school and start taking on students.
												It's easy to build your membership using free content whilst building up your premium content ready to start taking subscriptions.
											</p>

											<p>If you are an individual music teacher and worried that you will not be able to produce enough content, why not collaborate with your musician friends and start a Maawol school together?</p>

											<p style='margin-bottom: 0'>
												Remember:
											</p>
											<ul>
												<li>It's FREE for students to join your school but they need to pay to subscribe to your premium content.</li>
												<li>You get to decide which content is free and which is premium.</li>
												<li>Lessons do not have to contain videos, you can create lessons that are text only and you have the options include Audio files and scores to support the lesson material.</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse2" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												2. How are the lessons structured?
											</a>
										</h4>
									</div>

									<div id="collapse2" class="panel-collapse collapse" data-carousel-image-index="1">
										<div class="panel-body">
											<p>
												Students can browse your lesson content in many ways:-
											</p>
											<ul>
												<li>Filter down by categories and tags.</li>
												<li>Search lesson content.</li>
												<li>Accessing your courses</li>
												<li>Add lessons to their own <b>Favourites</b>, <b>Watch Later</b> and <b>Viewed</b> lists.</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse3" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												3. How do I manage the look &amp; feel of the site?
											</a>
										</h4>
									</div>

									<div id="collapse3" class="panel-collapse collapse" data-carousel-image-index="2">
										<div class="panel-body">
											<p>
												As well as managing your lesson content and info pages, your admin dashboard can be used to control:-
											</p>
											<ul>
												<li>Your colour theme</li>
												<li>Your logo</li>
												<li>Links to your social media platforms</li>
												<li>Other website images such as your favicon</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse4" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												4. How do I send emails to the students?
											</a>
										</h4>
									</div>

									<div id="collapse4" class="panel-collapse collapse" data-carousel-image-index="3">
										<div class="panel-body">
											<ul>
												<li>When students perform certain actions on your Maawol school such as register or subscribe they recieve a custom branded email notification.</li>
												<li>From your Maawol admin dashboard you can also send customised newsletters or announcements to your students as a mailshot.</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse5" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												5. How do the e-commerce stores work?
											</a>
										</h4>
									</div>

									<div id="collapse5" class="panel-collapse collapse" data-carousel-image-index="4">
										<div class="panel-body">
											<p>
												Via your admin dashboard you can create custom e-commerce web-stores and populate them with sale items such as <b>Courses</b>, <b>PDF scores</b> and <b>Audio files</b>.
											</p>
											<p>
												This enables you to make one-off sales of your content to people who do not wish to join your school as a student.
											</p>
											<p>Note: <em>the e-commerce web-stores are only available as part of our <a href="#pricing">Allegro and Presto pro packages</a></em></p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse6" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												6. No upfront costs on your FREE package.... really?!?
											</a>
										</h4>
									</div>

									<div id="collapse6" class="panel-collapse collapse" data-carousel-image-index="5">
										<div class="panel-body">
											<p><b>Yes REALLY!</b></p>

											<p>All costs involved with running an e-learning AND an e-commerce platform are handled by us.</p>
											<p>You will incur...</p>
											<ul>
												<li>No video hosting fees  - <small>we use <b>Vimeo</b></small></li>
												<li>No file hosting fees  - <small>we use <b>AWS S3</b></small></li>
												<li>No mailout fees  - <small>we use <b>Mailchimp</b></small></li>
												<li>No web hosting fees  - <small>we use our own secure cloud server on <b>DigitalOcean</b></small></li>
												<li>No domain or SSL certificate fees  - <small>we use <b>Namecheap</b></small></li>
											</ul>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>

					<!-- Support image -->
					<div class="col-sm-12 col-md-5 text-center">

						<div class="owl-carousel owl-theme" id="oaq-slider-carousel">
							<div class="item">
								<div class="slider-image">
									<%= image_tag "oaq/1.png?v=1", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "oaq/2.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "oaq/3.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "oaq/4.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "oaq/5.png", alt: "" %>
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<%= image_tag "oaq/6.png", alt: "" %>
								</div>
							</div>
						</div>


					</div>

				</div>

			</div>
		</section>


		<!-- Showcase -->
		<section class="bg-grey" id="showcase">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Maawol <strong>Showcase</strong></h2>
							<p>
								These examples showcase how Maawol has helped music schools <br />to build a base of paying student subscribers.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Example 1 -->
					<div class=" col-md-offset-2 col-md-4 res-margin wow fadeInUp" data-wow-delay=".1s">
						<div class="blog-col">
							<p>
								<%= image_tag "screenshots/jdr-1.png?v=2", class: "blog-img", alt: "Jazz Drummers Resource" %>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4>Jazz Drummers Resource</h4>
									<p>
										If you're looking to get better at playing jazz drums this is the place to come for inspiration and support.
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Example 2 -->
					<div class="col-md-4 res-margin wow fadeInUp" data-wow-delay=".2s">
						<div class="blog-col">
							<p>
								<%= image_tag "screenshots/tbl-showcase.png", class: "blog-img", alt: "Toms Bass Lessons" %>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4>Toms Bass Lessons</a></h4>
									<p>
										Tom plays bass. Tom teaches bass. Tom wanted to teach online. <br />Tom found Maawol. <br />Nice one Tom!
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>


		<!-- Testimonials -->
		<section class="">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>A <strong>Testimonial</strong></h2>
							<p>Here's a quick and shameless testimonial from Justin Varnes who runs the first Maawol school over at
										<a target="_blank" href="https://www.jazzdrummersresource.com">www.jazzdrummersresource.com</a></p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12 testimonial-carousel">

						<!-- Text -->
						<div class="block-text row">
							<div class="carousel-text testimonial-slider col-sm-12">
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Maawol transformed my basic, cookie-cutter site into a dynamic, flexible, and clean machine. It's made a huge difference in how easy it is to use and how much traffic it gets.</p>
									</div>
								</div>
							</div>
						</div>

						<!-- Media -->
						<div class="block-media row">
							<div class="carousel-images testimonial-nav col-sm-8 col-sm-offset-2">
								<div>
									<%= image_tag "justin.jpg", alt: "Justin Varnes", class:"img-responsive img-circle" %>
									<div class="client-info">
										<h3>Justin Varnes</h3>
										<span>Jazz Drummers Resource</span>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

			</div>
		</section>

		<!-- Contact -->
		<section class="bg-grey contact-us" id="contact">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Sign me <strong>up</strong></h2>
							<p>
								If you are interested in running <b>your own online music school</b> or would like more information about our service, fill out the form below. <br />We'll be back in touch within 24 hours.
							</p>

							<p>Once you're ready to go, we can have your site live within a couple of days</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Contact form -->
					<div class="col-sm-12">

						<div class="contact-form">

							<form id="contactForm" action="/enquire" method="post" data-toggle="validator" class="scroll-reveal">
								<div class="row">

									<div class="form-group col-md-6">
										<input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-6">
										<input type="email" name="email" id="email" class="form-control" placeholder="Your Email Address" data-error="Email address is invalid" required>
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-12">
										<textarea rows="8" name="message" id="message" class="form-control" placeholder="Your Message" required></textarea>
										<textarea name="sweets" id="sweets"></textarea>
										<div class="help-block with-errors"></div>
									</div>

									<div class="col-md-12">
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<button type="submit" name="submit" class="btn-custom btn-fill btn-contact" title="Submit Your Message!"><i class="fas fa-paper-plane"></i> Send</button>
									</div>

								</div>
							</form>

						</div>

					</div>

				</div>

			</div>
		</section>
