<!-- Banner -->
<section class="banner parallax about-bg" id="why_maawol" data-img-bg="<%= asset_url('maawol/guitar-lesson.png') %>">
	<div class="container">
		<div class="row">

			<div class="col-md-7">
				<div class="header-content">

					<h2>Why Maawol?</h2>
					<p><b>Maawol</b> (<i>Màawølː</i>): Music As A Way Of Life.</p>
					<p class="">
						Whether you're an individual teacher or a school, these challenging times have likely hit you hard, losing revenue from face-to-face lessons and struggling to find the right solution for taking your lessons online. Maawol was created to overcome this, both now, and in the future.
					</p>

				</div>
			</div>

			<div class="col-md-4 col-md-offset-1">

				<!-- Header slider -->
				<div class="owl-carousel owl-theme header-slider" id="header-slider-carousel">
					<div class="item">
						<div class="slider-image">
							<%= image_tag "maawol/screenshots/header/1.png", alt: "" %>
						</div>
					</div>

					<div class="item">
						<div class="slider-image">
							<%= image_tag "maawol/screenshots/header/2.png", alt: "" %>
						</div>
					</div>

					<div class="item">
						<div class="slider-image">
							<%= image_tag "maawol/screenshots/header/3.png", alt: "" %>
						</div>
					</div>

					<div class="item">
						<div class="slider-image">
							<%= image_tag "maawol/screenshots/header/4.png", alt: "" %>
						</div>
					</div>

					<div class="item">
						<div class="slider-image">
							<%= image_tag "maawol/screenshots/header/5.png", alt: "" %>
						</div>
					</div>

					<div class="item">
						<div class="slider-image">
							<%= image_tag "maawol/screenshots/header/6.png", alt: "" %>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>

		<!-- Why Maawol -->
<section id="why-maawol">
	<div class="container">

		<div class="row">
			<div class=" col-xs-12 col-md-12">
				<div class="section-title">
					<h2>Take <strong>Control</strong>?</h2>


				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-8">
				<p class="text-left pt-2">With your own admin console you can take control of your content and enjoy the freedom to build your online music school the way that works best for you. Choose the teaching format that suits your style, whether that's video, text, audio or a mixture of all three.</p>

				<p class="text-left pt-2">Once your lessons are uploaded, decide how you package them up; create courses, offer standalone sessions or devise one-off workshops for individual students. You can choose which content you charge for and which you offer for free. Most importantly, it's easy to connect with and feedback to your students.</p>
			</div>


			<div class="icon col-md-3 col-md-offset-1">
				<%= image_tag 'maawol/screenshots/zoomed/admin-1.png', class: 'screenshot-shadow', style: 'margin: 6px auto 0; display: block;' %>
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<div class="col-xs-12 col-md-4">
				<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
					<div class="icon"><i class="fas fa-paint-brush alt"></i></div>
					<h3>Easy to use</h3>
					<p>Building your Maawol school is easy no matter your level of tech expertise. You get more control over your lessons and earnings than other e-learning sites.</p>
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
					<div class="icon"><i class="fas fa-drum alt"></i></div>
					<h3>By musicians for musicians</h3>
					<p>Maawol has been designed by musicians to meet the unique needs that come with teaching music, in a way that more generic e-learning platforms cannot.</p>
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
					<div class="icon"><i class="fas fa-user-graduate alt"></i></div>
					<h3>Earn from your students<br /> (with no fees!)</h3>
					<p>Host lessons for free or turn your students into subscribers. You'll pay us no upfront fees and no monthly fees. <br /><a href="#earn">How does this work?</a></p>
				</div>
			</div>
		</div>
	</div>
</section>