<% meta_desc = "Maawol is the answer to your online music teaching challenges. Group your lessons into courses, connect with your students and turn them into paying subscribers with no upfront costs or monthly fees." %>
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Standard SEO tags -->
    <meta name="description" content="<%= meta_desc %>" />

    <!-- OpenGraph SEO tags -->
    <meta property="og:title" content="Maawol Online Music Schools" />
    <meta property="og:url" content="https://www.maawol.com/" />
    <meta property="og:description"  content="<%= meta_desc %>" />
    <meta property="og:site_name" content="Maawol" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.maawol.com/images/maawol/maawol-open-graph-square.png?v=1" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />

    <!-- Twitter SEO tags -->
    <meta property="twitter:title" content="Maawol Online Music Schools" />
    <meta name="twitter:description"  content="<%= meta_desc %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="www.maawol.com" />
    <!--  <meta name="twitter:site" content="@Maawol" /> -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Title -->
    <title>Maawol Online Music Schools</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="<%= asset_url('maawol/favicon.png') %>">

    <!-- Google web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400italic,600,700,700italic,800" rel="stylesheet" type="text/css">

    <!-- Stylesheet -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'media', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Color scheme -->
    <%= stylesheet_link_tag 'colours/green', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
          <script src="/layout/plugins/html5shiv/html5shiv.js"></script>
          <script src="/layout/plugins/respond/respond.min.js"></script>
        <![endif]-->

  </head>

  <body data-spy="scroll" data-target="#navigation" data-offset="65">

    <!-- Preloader -->
    <div class="preloader">
      <div class="spinner-loader">
        <div class="load1"></div><div class="load2"></div><div class="load3"></div><div class="load4"></div><div class="load5"></div>
      </div>
    </div>

    <!-- Header -->
    <header>
      <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

          <div class="navbar-header">

            <!-- Logo -->
            <a class="navbar-brand d-block" href="#">
              <%= image_tag "maawol/logo@2x.png?v=2", alt: "", width: "280px" %>
            </a>

            <!-- Responsive menu button -->
            <div class="navbar-toggle"></div>

          </div>
          <div id="responsive-menu"></div>

          <!-- Navigation -->
          <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right main-navigation" id="main-menu">
              <li><a href="/#">Home</a></li>
              <li><a href="/about-us">Why Maawol</a></li>
              <li class="d-md-hide"><a href="/#features">Features</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/#earn">Earn</a></li>
              <li><a href="/#faqs">FAQs</a></li>
              <li><a href="/#contact">Sign me up</a></li>
<!--              <li><a href="/about-us">About us</a></li>
              <li><a href="/blog">Blog</a></li>
 -->
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <%= yield %>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Back to top -->
            <a class="to-top"><i class="fas fa-angle-up"></i></a>

            <div class="footer-logo">
              <%= image_tag "maawol/icon@2x.png?v=1", alt: "" %>
            </div>
<!--
            <div class="footer-social">
              <ul>
                <li><a href="#"><i class="fab fa-fw fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-fw fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-fw fa-deviantart"></i></a></li>
                <li><a href="#"><i class="fab fa-fw fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fab fa-fw fa-behance"></i></a></li>
                <li><a href="#"><i class="fab fa-fw fa-instagram"></i></a></li>
              </ul>
            </div> -->

            <div class="copyright-text">
              <p>Copyright &copy; <%= Date.today.strftime("%Y") %> <a href="https://www.maawol.com" target="_blank">Maawol</a></p>

            </div>
            <p id="footer-email"><a href="mailto:hello@maawol.com" class="text-white">hello@maawol.com</a></p>

            <p>
              <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-and-conditions">Terms &amp; Conditions</a>
            </p>

          </div>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>